$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$roboto-font: "Roboto", sans-serif;
$primary-font: "Poppins", sans-serif;
$title-font: "Montserrat", sans-serif;

$black: #403C39;
$orange: #F38160;
$grey: #909090;
